.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    padding: 15px;
    border-radius: 20px;
  }

  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .img_main {
    width: 100%;
    height: 225px;
    border-radius: 20px;
    overflow: hidden;
  }

  .img_main img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .card h3 {
    text-align: center;
    margin: 15px 0px;
    font-size: 1.8em;
    color: #72ae95;
  }

  .card p {
    text-align: center;
    margin: 0;
    font-size: 1.2em;
  }


